<div class="container-fluid well container-home container-home-background">
    <div class="col-md-6">
        <h1 class="home-tittle">AngularJS Basico</h1>
    </div>
    <div class="col-md-6 col-sm-6 div-home-button">
        <a ui-sref = "presentacion" class="btn btn-lg btn-primary button-home-align" style="width: 150px;">Presentacion</a>
    </div>
    <div class="col-md-6 col-sm-6  div-home-button">
        <a class="btn btn-lg btn-primary button-home-align" style="width: 150px;">Ejemplos</a>
        <label>{{name}}</label>
    </div>
</div>