<div class="container">
    <div class="col-md-12">
        <div id="historyAngularjs" class="col-md-12">
            <h1 class="h1">Introduccion</h1>
            <div class="tittle-divider"></div>
            <p class="margin-paragraph">
                Angular un framework que nacio en el 2009, la empresa que se le da soporte es Google.
                Tiene la capacidad de brindarnos la posibilidad de extender las funcionalidades del html,
                es un framework que tiene como objetivo la modularidad de sus componentes. para brindarnos ciertas
                ventajas <b>(encapsulacion de logica, mayor rapidez a la hora de ejecutar test, inyectión de
                dependencias)</b>.
            </p>
            <p>Es orientado a las aplicacion Single Page App(SPA).</p>
            <p>Utiliza la arquitectura MVC(Model View Controller)</p>
            <p> </p>
        </div>
        <div id="basicsFeatures" class="col-md-12">
            <h1 class="h1">Caracteristicas</h1>
            <div class="tittle-divider"></div>
            <div class="col-md-12">
                <ul class="margin-paragraph list-font">
                    <li ng-repeat="feature in feature">
                        <label>{{feature.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div di="expressions" class="col-md-12">
            <h1 class="h1">Expresiones</h1>
            <div class="tittle-divider"></div>
            <p class="margin-paragraph">
                Las expresiones en angualar se usan en la parte del "view" como una forma sencilla de mostrar datos, teniendo la habilidad
                realizar operaciones computadas por ejemplo sumar,restar entre otras.
            </p>
            <p>
                Las expresiones en angular a diferencia de las de javaScript, se manejan dentro de un ambito o "scope" que sera el contexto donde viviran.
                No se puden utilizar bucles, excepciones o condicionales dentro de las expreciones.
                Se pueden utilizar filtros en conjunto con las expresiones.
            </p>

            <div class="example-box col-md-12" ng-controller="expressionCtrl">
                <h2 class="h2" style="padding-left: 4px;">Ejemplo</h2>
                <button type ="button" class="btn btn-group-sm btn-primary button-app"
                        style="margin-bottom: 5px;" ng-click="onChangeExpressionContent('index.html')">index.html</button>
                <button type ="button" class="btn btn-group-sm btn-primary button-app"
                        style="margin-bottom: 5px;">app.js</button>

                <div class="well col-md-12 col-offset-3" ng-switch on="ExpressionSwitchValue">
                    <div ng-switch-when="index.html">{{indexData}}
                        <p ng-repeat="indexData in lines">{{lines}}</p>
                    </div>
                    <div ng-switch-default>por defecto</div>
                </div>

                <div ng-include="templates.expressionUrl"></div>
            </div>
        </div>
    </div>
</div>